.nav-item-index button {
    font-weight: 700;
    color: coral;
}

.blog-post {
    display: flex;
}

.blog-post h2 {
    font-size: 2rem;
    font-weight: 600;
}
.blog-post h3 {
    font-weight: 700;
}

.blog-post p {
    text-align: justify;
}

.blog-post-text {
    padding-right: 2rem;
    padding-bottom: 0;
}

.blog-post-image {
    box-shadow: var(--shadow);
    border-radius: 1rem;
    max-width: 13rem;
    height: auto;
}

.create-post-button {
    border: none;
    border-radius: 1rem;

    cursor: pointer;

    color: white;
    font-size: 20px;
    background-color: rgb(47, 122, 76);

    width: 200px;
    height: 64px;

    margin: 0 1rem;

    box-shadow: #00000077 0 0.3rem 0.5rem;
}

.create-post-icon {
    width: 32px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.create-post-button:hover {
    background-color: rgb(96, 182, 103);
    transition: 0.15s ease-in-out;
}

.create-post-button:active {
    background-color: rgb(26, 94, 48);
}

@media (max-width: 1000px) {
    .blog-post {
        flex-direction: column;
    }

    .blog-post-text {
        padding-right: 0;
        padding-bottom: 2rem;
    }

    .blog-post-image {
        margin: auto;
    }
}
